In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
%ls

 Volume in drive C is OS
 Volume Serial Number is 0863-F8A2

 Directory of C:\Users\Asus

19/04/2022  00:10    <DIR>          .
29/01/2022  18:20    <DIR>          ..
02/04/2022  16:01    <DIR>          .anaconda
19/04/2022  00:27    <DIR>          .conda
02/04/2022  16:00                25 .condarc
02/04/2022  16:00    <DIR>          .continuum
31/03/2020  15:07    <DIR>          .idlerc
18/04/2022  23:57    <DIR>          .ipynb_checkpoints
02/04/2022  16:23    <DIR>          .ipython
19/04/2022  00:22    <DIR>          .jupyter
28/02/2021  17:13    <DIR>          .LINE
18/04/2022  23:53    <DIR>          .matplotlib
28/02/2021  17:13    <DIR>          .QtWebEngineProcess
15/12/2021  12:00    <DIR>          .vscode
15/10/2020  01:09    <DIR>          3D Objects
02/04/2022  16:03    <DIR>          anaconda3
07/02/2020  16:54    <DIR>          ansel
21/10/2020  21:03    <DIR>          Autodesk
26/08/2021  19:53               151 BullseyeCoverageError.txt
29/01/2022  18:35    <DIR>          Contacts
19/04/2022  00:00           254.646 Data Manipulation - Module_Student_v2.ipynb
10/04/2022  09:41           333.371 DataCLeansing_module_v2_students.ipynb
17/04/2022  19:27           184.070 datacleansinglatihan.ipynb
03/04/2022  15:22             1.646 descriptive statistics.R
26/06/2021  09:49    <DIR>          Documents
19/04/2022  00:22    <DIR>          Downloads
29/01/2022  18:35    <DIR>          Favorites
03/04/2022  10:05            33.926 Hands on 1 - Data Type and Structure Python.ipynb
04/04/2022  12:30           113.555 Hands on 2 - Data Type and Structure Python.ipynb
09/04/2022  07:35           109.821 Hands on 2 in class (edited) - Data Type and Structure Python-edited mentor.ipynb
03/04/2022  15:00           566.778 HR_comma_sep.csv
29/01/2022  18:35    <DIR>          Links
16/04/2022  22:45            13.113 Live_Session_Hypothesis_Testing.ipynb
03/04/2022  18:32           340.359 Master - Descriptive Statistics.ipynb
19/06/2021  09:47               128 matlab jst.mat
29/01/2022  18:35    <DIR>          Music
17/04/2022  22:26    <DIR>          OneDrive
16/04/2020  23:13    <DIR>          Prezi
07/04/2020  23:40    <DIR>          PycharmProjects
29/01/2022  18:35    <DIR>          Saved Games
29/01/2022  18:35    <DIR>          Searches
18/06/2020  11:58    <DIR>          source
16/04/2022  22:45            19.002 Statistics III - Hypothesis Testing.ipynb
22/10/2020  16:26    <DIR>          sw2urdf_logs
19/04/2022  00:08    <DIR>          Untitled Folder
19/04/2022  00:10    <DIR>          Untitled Folder 1
18/04/2022  23:52           184.863 Untitled.ipynb
17/04/2022  19:24                 0 untitled.txt
09/04/2022  15:37             2.460 Untitled1.ipynb
10/04/2022  23:21             1.876 Untitled10.ipynb
10/04/2022  23:18             1.780 Untitled11.ipynb
12/04/2022  16:09             2.352 Untitled12.ipynb
12/04/2022  23:07             1.535 Untitled13.ipynb
17/04/2022  17:44               751 Untitled14.ipynb
19/04/2022  00:02             5.725 Untitled15.ipynb
10/04/2022  23:22             4.976 Untitled2.ipynb
10/04/2022  18:25             2.374 Untitled3.ipynb
10/04/2022  19:45             1.832 Untitled4.ipynb
10/04/2022  20:02             1.339 Untitled5.ipynb
10/04/2022  20:09             1.820 Untitled6.ipynb
10/04/2022  21:23             1.805 Untitled7.ipynb
10/04/2022  21:52             2.602 Untitled8.ipynb
10/04/2022  21:48             1.272 Untitled9.ipynb
17/04/2022  22:26    <DIR>          Videos
17/04/2022  15:43               723 Wisnu_Jinawi_Data_Cleaning.ipynb
24/04/2020  21:24               105 WisnuJinawi1.m
              33 File(s)      2.190.781 bytes
              33 Dir(s)  74.695.958.528 bytes free

In [17]:
df = pd.read_csv('Downloads/Data_manipulation/telco_customer_churn.csv')
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [14]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [16]:
df['tenure'].describe()

count    7043.000000
mean       32.371149
std        24.559481
min         0.000000
25%         9.000000
50%        29.000000
75%        55.000000
max        72.000000
Name: tenure, dtype: float64

In [25]:
df[(df['tenure'] >55) | (df['MonthlyCharges'] > 70)]

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes
6,1452-KIOVK,Male,0,No,Yes,22,Yes,Yes,Fiber optic,No,...,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.4,No
8,7892-POOKP,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes
9,6388-TABGU,Male,0,No,Yes,62,Yes,No,DSL,Yes,...,No,No,No,No,One year,No,Bank transfer (automatic),56.15,3487.95,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7037,2569-WGERO,Female,0,No,No,72,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Bank transfer (automatic),21.15,1419.4,No
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [39]:
 df.groupby(['gender'])['customerID'].count()

gender
Female    3488
Male      3555
Name: customerID, dtype: int64

In [40]:
 df.groupby(['InternetService'])['customerID'].count()

InternetService
DSL            2421
Fiber optic    3096
No             1526
Name: customerID, dtype: int64

In [41]:
 df.groupby(['PaymentMethod'])['customerID'].count()

PaymentMethod
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Electronic check             2365
Mailed check                 1612
Name: customerID, dtype: int64

In [42]:
df['MonthlyCharges_level'] = pd.cut(df['MonthlyCharges'],
                                    bins=[0,35.5,70.5,89.9,999],
                                    labels=['Low','Medium','High','Very High'])

In [45]:
df[['MonthlyCharges','MonthlyCharges_level']]

      MonthlyCharges MonthlyCharges_level
0              29.85                  Low
1              56.95               Medium
2              53.85               Medium
3              42.30               Medium
4              70.70                 High
...              ...                  ...
7038           84.80                 High
7039          103.20            Very High
7040           29.60                  Low
7041           74.40                 High
7042          105.65            Very High

[7043 rows x 2 columns]

In [46]:
df[['MonthlyCharges','MonthlyCharges_level']].head(20)

    MonthlyCharges MonthlyCharges_level
0            29.85                  Low
1            56.95               Medium
2            53.85               Medium
3            42.30               Medium
4            70.70                 High
5            99.65            Very High
6            89.10                 High
7            29.75                  Low
8           104.80            Very High
9            56.15               Medium
10           49.95               Medium
11           18.95                  Low
12          100.35            Very High
13          103.70            Very High
14          105.50            Very High
15          113.25            Very High
16           20.65                  Low
17          106.70            Very High
18           55.20               Medium
19           90.05            Very High